@import "reset/normalize";
@import "_silver";


.button {
  margin-top: 20px;
  text-align: center;
  a {
    display: inline-block;
    border: 2px solid #FF0927;
    border-radius: 12px;
    padding: 8px 35px;
    font-weight: 700;

    font-size: 17.98px;
    color: #FFFFFF;
    letter-spacing: 1.16px;
    text-align: center;
    text-decoration: none;

    cursor: pointer;

  }

}

.button-hover-white {
  a:hover {
    border-color: #FFF;
  }
}

body {
 font-family: 'Source Code Pro', monospace;
}

.app-bg {
  background: #000 50% no-repeat url(/images/bg-desktop-optimized.jpg);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.app-content {
  position: relative; 
  min-height: 800px; 
  background: rgba(0, 0, 0, 0.35);
  // margin-top: -21px;
}


#menu {
  position: absolute;
  top:0px;
  right: 20px;

  color: white;
  
  ul {
    display: inline-block;
    list-style-type: none;

    li {
      .button();

      padding: 0;
      margin: 0;
      margin-bottom: 10px;
      a {
	width: 120px;
      }
      &.connect {
	a {
	  border: 2px solid #3F7500;
	}
      }
      &.add-token {
	a {
	  border: 2px solid #4A4A4A;
	}
      }
      .button-hover-white();
    }
  }
}

.logo {
  padding-top: 60px;
  padding-bottom: 25px;
  img {
    display: block;
    margin: 0px auto;
  }
}

.logo-title {
  font-family: 'Audiowide', cursive;
  color: #fff;
  text-align: center;
  font-size: 64px;
}


.main-section {
  .sidebar {
    display: flex;
    align-items: center;
    ul {
      display: inline-block;
      list-style-type: none;
      padding: 10px;
      padding-top: 95px;
      margin: 0;

      li {
	padding: 4px;
	margin-bottom: 14px;
	opacity: 0.4;
	&:hover {
	  opacity: 1.0;
	}
      }
    }
  }

  display: flex;

  .social-sidebar {
    flex: 1;
    .sidebar();
    justify-content: flex-end;

  }

  .price-section {
    flex: 1;
  }

  .trading-sidebar {
    flex: 1;
    .sidebar();
    justify-content: flex-start;
  }
}

.section {
  margin-top: 50px;
  .title {
    font-weight: 900; 
    font-size: 22.48px;
    color: #9B9B9B;
    letter-spacing: 1.45px;
    text-align: center;

    text-shadow: -2px -2px 5px #000000, 2px 2px 5px #000000, 0px 2px 5px #000000, 2px 0px 5px #000000;

    margin: 10px auto;
  }

  .body {
    padding: 16px;
    background: rgba(0,0,0,0.60);
    border: 3px solid #4A4A4A;
    border-radius: 16px;

    width: 450px;
    margin: 0px auto;

    .gauges.price-change {
      padding: 0 100px;
    }

    .seperator {
      background: #4a4a4a;
      height: 1px;
      margin-top: 14px;
      margin-bottom: 4px;
      margin-left: -16px;
      margin-right: -16px;
    }

    .gauge {
      .title {
	font-weight: 700;
	color: #F8E71C;
	letter-spacing: 0.87px;
	text-align: center;
	font-size: 13.49px;
	margin-bottom: 13px;
      }
      .value {
	margin-top: -10px;
	font-weight: 500;
	color: #FFF;
	letter-spacing: 3.04px;
	text-align: center;
	font-size: 16px;
	&.red {
	  color: #D0021B;
	}
	&.green {
	  color: #7ED321;
	}
      }


      &.vlo-token-price {
	margin-top: -5px;
	.value {
	  font-size: 47.2px;
	}
      }

      &.velocity,&.countdown {
	.value {
	  font-size: 22.48px;
	  color: #FFFFFF;
	  letter-spacing: 1.45px;
	}
      }

      &.mises-legacy-pool {
	.value {
	  font-weight: 500;
	  font-size: 47.2px;
	  color: #FFFFFF;
	  letter-spacing: 3.04px;
	  text-align: center;
	}
      }

      &.total-deposited {
	.value {
	  font-weight: 700;
	  font-size: 22.48px;
	  color: #FFFFFF;
	  letter-spacing: 1.45px;
	  text-align: center;
	}
      }

    }
  }
}



.rebase-section {
  .rebase-button-section {
    margin-top: 40px;
    .rocket,.rebase-button {
      display: flex;
      justify-content: center;
    }

    .rocket {
      margin-top: -25px;
    }

    .rebase-button {
      .button();
      .button-hover-white();
    }
  }
}

.yield-farming-section {
  p {
    font-weight: 700;
    font-size: 12px;
    color: #9B9B9B;
    letter-spacing: 0.77px;
    text-align: center;
  }

  .stake-button {
    .button();
    a {
      border: 2px solid #3F7500;
    }
    .button-hover-white();
  }
  .unstake-button {
    .button();
    a {
      border: 2px solid #FF9F00;
    }
    .button-hover-white();
  }
  .harvest-button {
    .button();
    a {
      border: 2px solid #BF08E6;
    }
    .button-hover-white();
  }
}

#footer {
  height: 200px;
}
