@import "reset/normalize";
@import "_silver";

body {
}

.app-bg {
  background: #000 50% no-repeat url(/images/bg-desktop-optimized.jpg);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.app-content {
  position: relative; 
  min-height: 800px; 
  background: rgba(0, 0, 0, 0.35);
  // margin-top: -21px;
}

.logo {
  padding-top: 100px;
  img {
    display: block;
    margin: 0px auto;
  }
}
